@font-face {
 font-family: 'Raleway';
 src: url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-VF.woff2') format('woff2 supports variations'), url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-VF.woff2') format('woff2-variations'), url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-VF.woff') format('woff-variations'), url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-VF.ttf') format('truetype-variations')
 font-weight: 100 900;
 font-style: normal;
}
@font-face {
 font-family: 'Raleway';
 src: url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-Italic-VF.woff2') format('woff2 supports variations'), url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-Italic-VF.woff2') format('woff2-variations'), url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-Italic-VF.woff') format('woff-variations'), url('https://cdn.staticdelivr.com/gh/jtothegriff/Raleway/main/Raleway-Italic-VF.ttf') format('truetype-variations')
 font-weight: 100 900;
 font-style: italic;
}